/* VARIABLES */
:root {
  --color-primario: red;
  --color-secundario: blue;
  --transpariencia: rgba(0,0,0,0.3);
  --lateral-padding: 50px;
  --max-width: 1300px;
  --color-text: white;
  --color-purple: rgb(153,50,168);
}



/* GLOBALES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.border-transparent{
  border: 1px solid #666;
}


/* LAYOUT BODY */
body{
  display:flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* LAYOUT HEADER */
header{  
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}
header img{
  width: 75px;
}
header nav ul{  
  display: flex;
  flex-direction: row;
}
nav ul li{
  margin: 10px;
  list-style-type: none;  
}

/* LAYOUT MAIN */
main{
  display: flex;
  flex-direction: column;
  justify-content: center;  
}
main #title{
  display: flex;
  justify-content: center;
  align-items: end;  
  height: 95vh;  
}
main #sinopsis{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;    
}
#sinopsis img{
  width: 800px;
}
#sinopsis article{
  padding: 0 50px; 
  max-width: var(--max-width);
}
#sinopsis p{
  padding: 20px 0;
}
#personajes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px;
/*   margin: 10px var(--lateral-padding);   */
  align-self:center;
/*   max-width: var(--max-width); */
  background-image: url("/home/freelancer/Mega/Estudio/Cursos/Argentina Programa 4.0/RickMorty/img/personajes.webp");
  background-repeat: no-repeat;
  background-size: cover;
/*   background: rgb(0,0,0); */
  background: linear-gradient(0deg, rgba(153,50,168,1) 0%, rgba(0,0,0,1) 100%);
}
#personajes .ficha{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px 0;  
  border-radius: 15px;
}
#personajes .ficha:hover{
  margin: 50px 10px;  
  box-shadow: -1px 1px 15px #222;
  transition: margin 0.5s;
}
.ficha .foto-personaje{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ficha .foto-personaje img{
  width: 100%; 
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.ficha figcaption{
  padding: 20px 0;
  color: var(--color-text);
  font-size: 1.3em;
}
.ficha .info-personaje{
  padding: 10px 10px;
  color: var(--color-text);
  text-align: center;
  font-size: 1em;
}
.ficha .info-personaje *{
  margin: 5px; 
}

.isDead figure img{
  filter: grayscale(100%);  
}
.isDead figure img:hover{
  filter: none; 
}
.isDead .info-personaje .status .dead-circle:before{
  content: "\2620";
  margin: 15px;
  font-size: 1em;
  color: white;
}

/* BUTTON PAGINATION */
#pagination{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;  
}
#pagination button{
  background-color: var(--color-purple);
  border: 2px solid black;
  color: var(--color-text);
  font-size: 2em;
  height: 100px;
  width: 200px;
  border-radius: 15px;
}
#pagination button:hover{
  font-size: 2.1em;
  transition: font-size 0.5s;
  opacity: 0.9;
  height: 101px;
  width: 201px;
}
#pagination button:active{
  background-color: purple;
}

#pagination button:disabled{
  background-color: grey;
}
#pagination button:disabled:hover{
  color: var(--color-text);
  font-size: 2em;
  height: 100px;
  width: 200px;
}

/* LAYOUT FOOTER */
footer *{
  margin: 20px;
  padding: 20px;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}
footer #hbo-banner{
  display: flex;
  justify-content: space-between;
}
footer #info-footer{
  display: flex;
  justify-content: space-between;
}

/* LINKS */
a{
  text-decoration: none;
}
a:link {
  color: var(--color-text);
  text-shadow: 1px 1px 3px black;
}
a:visited {
  color: var(--color-text);
}
a:hover {
  color: var(--color-text);
  text-shadow: 1px 1px 2px black;
  transition: text-shadow 2s;
}
a:active {
  color: var(--color-text);
} 


/* IMAGES */
body{
  background-image: url("/home/freelancer/Mega/Estudio/Cursos/Argentina Programa 4.0/RickMorty/img/cover.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
header{  
  background-color: var(--transpariencia);
}
header img{
    border: 3px solid black;
    border-radius: 50%;
}
main #title{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}
main #sinopsis{
  background: rgb(0,0,0); 
}

/* FONTS */
nav ul li a{
  font-size: 1em;
}
#sinopsis p{
  color: var(--color-text);
  font-size: 1.3em;
}


/* ANIMATION */



